@if (!Products.Any())
{
    <p>Không có sản phẩm nào.</p>
}
else
{
    <div class="product-list">
        @foreach (var item in Products)
        {
            <ProductCard Product="item" />
        }
    </div>
}

@code {
    [Parameter, EditorRequired]
    public IEnumerable<Product> Products { get; set; } = Array.Empty<Product>();
}
